<footer class="bg-dark text-white">
        <div class="container py-4">
          <div class="row py-5">
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Details</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">New Baneshwor, Kathamdu</a></li>
                <li><a class="footer-link" href="#">+priyatamang565@gmail.com</a></li>
                <li><a class="footer-link" href="#">+977 9808157822</a></li>
                {% comment %} <li><a class="footer-link" href="#">Terms &amp; Conditions</a></li> {% endcomment %}
              </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Information</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">About Us</a></li>
                <li><a class="footer-link" href="#">Contact Us</a></li>
                <li><a class="footer-link" href="#">Order Book</a></li>
                {% comment %} <li><a class="footer-link" href="#">FAQs</a></li> {% endcomment %}
              </ul>
            </div>
            <div class="col-md-4">
              <h6 class="text-uppercase mb-3">Service</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">View Cart</a></li>
                <li><a class="footer-link" href="#">View Wishlist</a></li>
                <li><a class="footer-link" href="#">Track Order</a></li>
                {% comment %} <li><a class="footer-link" href="#">Pinterest</a></li> {% endcomment %}
              </ul>
            </div>
          </div>
          <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
              <div class="col-lg-6">
                <p class="small text-muted mb-0">&copy; 2020 All rights reserved.</p>
              </div>
              <div class="col-lg-6 text-lg-right">
                <p class="small text-muted mb-0">Website by <a class="text-white reset-anchor" href="https://www.youtube.com/vijaythapa" target="_blank">Priya Tamang</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>